@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    -webkit-font-smoothing: antialiased;
    display: flex;
    -moz-osx-font-smoothing: grayscale;
}

*{
    color: var(--font);
    font-family: 'Poppins';
    font-weight: 500;
  }

:root{
    --primary:rgba(22,27,33,255);
    --border:rgba(67,71,81,255);
    --font:rgba(140,147,158,255);
    --placeholder:rgba(61,64,74,255);
    --green:rgb(0, 230, 118);
    --red:rgb(244, 67, 54);
  }


#Main{
    width: 100vw;
    height: 100vh;
}


.Heading{
    margin-left: 36vw;
    line-height: 1vh;
}


#SearchBar{
    display: flex;
    width: 45vw;
    height: 10vh;
    border-radius: 10vh;
    border-color: var(--font);
    border-width: 0.2vw;
    margin-left: 28vw;
    background: #ffffff;
    box-shadow:  35px 35px 100px #b8b8b8,
             -35px -35px 100px #ffffff;
}

#Search,#Search::placeholder,#Search:focus{
    background: none;
    width: 60vw;
    height: 10vh;
    outline: none;
    border: none;
    font-size: 4vh;
    font-weight: 500;
}

#Results{
    margin-top: 4vh;
    margin-left: 10vw;
    width: 80vw;
    border-radius: 2vw;
    background: #ffffff;
    box-shadow:  35px 35px 70px #b8b8b8,
                 -35px -35px 70px #ffffff;
}

.ProductImage{
    width: 20vw;
    height: 50vh;
    object-fit:contain;
}

.Product{
    display: flex;
    height: 50vh;
    margin-left: 1vw;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.Review{
    width: 56vw;
    height: 18vh;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.InfoBar{
    line-height: 3vh;
    margin-left: 1vw;
    width: 66vw;
    height: 50vh;
}

.Domain{
    margin-left: 2.5vw;
    display: flex;
    height: 5vh;
    width: 6.5vw;
    justify-content: center;
    align-items: center;
}

.DomainIcon{
    margin-left: 0.5vw;
}

.Gap{
    height: 5vh;
}
.Outline{
    width: 80vw;
    height: 0.3vh;
    background-color: #f5f0f0;
}

::-webkit-scrollbar{
    border: none;
}



